#project-head{
    /* background-color:  gray; */
    height: 95vh;
    width: auto;
    background-image: url(../Images/stay.JPG);
    background-size: 100vw 95vh;
    font-family: 'Nunito Sans', sans-serif;
    color:whitesmoke
}
#project-body{
    /* width: 90%; */
    margin: auto;
}

h1{ 
    font-size: 37px;
    text-align: center;
    color: whitesmoke
}
#how-to{
    color: whitesmoke;
    padding-left: 1vw;
}
a:hover{
    color: red
}

.git-link {
    padding-left: 15vw;
    font-size: 33px;
}

.project-info{
    padding-left: 3vw;
    

}