#work-body {
    font-family: 'Nunito Sans', sans-serif;
    color: black !important;
    overflow: hidden;

}

#work{
    padding-left: 5.5vw;
    font-size: 2.5vw;
    font-weight: bold;
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: center;
}

#experience{
    margin-top: 5px;
    padding-left: 7vw;
    width: 80%;
    font-weight: 550;
}

#bootcamp-wrapper {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

#bootcamp {
    width: 55%;
    font-size: 1.3vw;
}

#code-skills-chart {
    padding-top:2vh;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 16vh;
    font-size: 1.3vh;
}

#skills-left{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   
}

#skills-right{
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

#other-work {
    width: 33vw;
    font-weight: 550;
}

.work-para{
    width: 20vw;
    padding-bottom: .5vh;
    font-size: 1vw;
}

#finally{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    overflow: hidden;
}


#work-body a {
    padding: 0;
    color: darkgray !important
}
#work-body a:visited {
    color: darkgray !important
}